.pokemon-container {
  @apply border-red-400 rounded-sm p-1 bg-yellow-400;
  /* background-color: red; */
}

.damage-relations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.normal-evol {
}

.evol-chain-container img {
  @apply w-28;
}

.moves {
  @apply col-span-2 sm:text-xl text-xl place-self-center w-5/6 pb-4 border-2;
}

.eevee-evolution {
  @apply sm:flex h-auto flex-col md:grid grid-cols-3 gap-8 grid-rows-3 justify-items-center mx-4 text-center;
}
.eevee-evolution img {
  cursor: pointer;
  height: 175px;
  width: 175px;
}
/* .pokemon-container span img {
  @apply;
} */
.overflow-y-scroll::-webkit-scrollbar {
  width: 10px;
  height: 90px;
  background-color: black;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

.type-img {
  @apply m-1 inline-block filter drop-shadow-xl transform hover:scale-105;
}
